<h1 style="color: pink;">Contact Our</h1>

    <img src="C:\Users\tanma\Downloads\istockphoto-479520746-612x612.jpg" >

<h1> Customer Support Center</h1>
<br>
<h1>Contact Information</h1>
<br>

<label>Name*</label>
<div class="input-name">
    <input type="text" size="20" placeholder="First Name" class="name">

    
    <input type="text" size="20" placeholder="Last Name" class="name">
    
</div>
<br>
<label>Email*</label>
<div class="input-name">
    <input type="text" size="100" placeholder="" class="name">
</div>
<br>
<label>Phone*</label>
<div class="input-name">
    <input type="text" size="100" placeholder="" class="name">
</div>
<br>
<label>Address*</label>
<div class="input-name">
    <input type="text" size="100" placeholder="" class="name">
</div>


<router-outlet></router-outlet>
